#top{
    background-color: rgb(233, 230, 43);
}
#title{
    color:  rgb(3, 39, 15);
    font-size:larger;
    font-family:cursive;
}
#trail{
    border-color: rgb(3, 39, 15);
}

#second{
    margin-left: 550px;
    margin-right: 250px;
}

#line1{
    color: rgb(3, 39, 15);
    font-size:xx-large;
    

}
#line2{
    color: rgb(3, 39, 15);

}
/* 
#text{
    
} */
#t-bar{
    margin-left: 50px;
    margin-right: 60px;
    color: rgb(3, 39, 15);
}
#btn{
    background-color: rgb(3, 39, 15);
    border-color: rgb(3, 39, 15);
    color: white;
    font-size: large;
}

#line3{
    color: rgb(3, 39, 15);
    font-size: small;
}
#bar{
    
    background-color:lightgray;
    
}
#img1{
    width: 20px;
    height: 20px;
    mix-blend-mode: multiply;
}
#img2{
    width: 30px;
    height: 30px;
    mix-blend-mode: multiply;
}
#img3{
    width: 15px;
    height: 20px;
    mix-blend-mode: multiply;
}
#img4{
    width: 20px;
    height: 20px;
    mix-blend-mode: multiply;
}#img5{
    width: 20px;
    height: 18px;
    mix-blend-mode: multiply;
}

/* third-line1 */
#third-line1{
    color: rgb(3, 39, 15) ;
}
/* third-img */
#third-img{
    width: 40px;

}
#third-img2{
    width: 50px;
    
}
#third-img3{
    width: 40px;
    
}
#third-img4{
    width: 60px;
    
}
/* third-div */

/* .diamond {
    position: relative;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px 40px;
  }
  .diamond:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    box-shadow: 0px 0px 12px gray;
  }
  .diamond:after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    height: calc(100% - 22px);  
    border: 1px solid orange;
    transform: rotateX(45deg) rotateZ(45deg);
  } */
#third-div1{
    margin-left: 10px;
    margin-right: 5px;
    border-style: dashed;
    border: rgb(41, 36, 36);
    border-radius: 2px 2px 2px;
}
#third-div2{
    margin-left: 10px;
    margin-right: 5px;
    
}
#third-div3{
    margin-left: 10px;
    margin-right: 5px;
}
#third-div4{
    margin-left: 10px;
    margin-right: 5px;
    
}
/* Voted div */
#vote-div{
    margin-left: 150px;
    margin-right: 200px;
}

#vote-div2{
    width: 150px ;
    margin-left: 10px;
    font-weight: bold;
    font-size: small;
    border: black solid 1px;
    display:inline-block;
    justify-items: center;
    border-radius: 0px 0px 100px 100px;
}
#vote-div3{
    width: 150px ;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    border: black solid 1px;
    display:inline-block;
    justify-items: center;
    border-radius: 0px 0px 100px 100px;
}
#vote-div4{
    width: 150px ;
    margin-left: 10px;
    font-weight: bold;
    border: black solid 1px;
    display:inline-block;
    justify-items: center;
    /* border-radius: 0px 0px 90px 90px; */
    border-bottom-left-radius: 50px;

}
#rib{
    font-size:small ;
    background-color: orangered;

}
/* footer */
#foot-main{
    background-color: rgb(238, 236, 240);
}
#foot{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 180px;
}
#tri{
    border-left: 100px solid transparent ;
    border-right: 100px solid transparent;
    border-top: 172px solid green;
    width: 0;
    
}